<footer class="main-footer">
	<p>
		Les informations vous concernant (clés privée et publique) sont stockées
		sur votre navigateur (extension MetaMask) ou sur votre application MetaMask.
		<br />
		Les informations concernant les contrats sont stockés sur la blockchain directement.
		<br />
		<strong>Aucune information personnelle, technique ou de nature blockchain n'est stockée sur un serveur
			centralisé.</strong>
		<br />
		L'historique des transaction est stockée sur le navigateur pour simplifier la navigation.
		Ce site est simplement un intermédiaire intuitif et user-friendly pour manipuler des smart
		contracts de manière à respecter l'esprit de la désintermédiation.
	</p>
</footer>