<footer class="main-footer">
	<p>
		Vos informations d'authentification sont stockées
		sur votre navigateur/téléphone (application MetaMask).
		Toutes les informations concernant les contrats sont stockés sur la blockchain directement.
	</p>
	<p>
		<br />
		<strong>Aucune information personnelle, technique ou de nature blockchain n'est stockée sur un serveur
			centralisé.</strong>
		<br />
		Ce site est simplement un intermédiaire intuitif et user-friendly avec la blockchain pour manipuler des smart
		contracts de manière à respecter totalement l'esprit de la désintermédiation.
	</p>
</footer>