<div class="sidebar">
	<nav class="mt-2">
		<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
			<li class="nav-item">
				<a href="/" class="nav-link">
					<p>
						<i class="fas fa-home"></i>
						Accueil
					</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/assosyndic/" class="nav-link">
					<p>
						<i class="fas fa-sitemap"></i>
						Association & Syndic
					</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/mederc20/" class="nav-link">
					<p>
						<i class="fas fa-hand-holding-usd"></i>
						Moroccan E-Dirham
					</p>
				</a>
			</li>

			<li class="nav-item">
				<a href="/contractpp/" class="nav-link">
					<p>
						<i class="fas fa-id-card"></i>
						Contrats Particulier
					</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/contractpm/" class="nav-link">
					<p>
						<i class="fas fa-file-signature"></i>
						Contrats Entreprise
					</p>
				</a>
			</li>
			<li class="nav-item">
				<a href="/bourse/" class="nav-link">
					<p>
						<i class="fas fa-comments-dollar"></i>
						Bourse de contrats
					</p>
				</a>
			</li>

		</ul>
	</nav>
</div>