html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.button-style2 {
	background: #C4A69D;
}

.button-style3 {
	background: #735290;
}

.button-style1 {
	background: #80BA8E;
}

.button:hover {
	background: #b50101;
}

.bold {
	font-weight: bolder;
}

.title {
  text-decoration: underline;
  font-weight: bold;
}

.card-deck .card {
  flex: unset;
}

.card-deck {
  flex-flow: column;
}

.underline {
  text-decoration: underline;
}

.rechevent {
  font-weight: bolder;
  color: teal;
}

.creaevent {
  font-weight: bolder;
  color: tomato;
}